<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Brahma.FSharp" version="1.1.5" targetFramework="net461" />
  <package id="FSharp.Core" version="4.6.2" targetFramework="net461" />
  <package id="FSharp.Quotations.Evaluator" version="1.0" targetFramework="net461" />
  <package id="FSharpx.Collections" version="1.15.0" targetFramework="net461" />
  <package id="OpenCL.Net" version="2.2.9.0" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net461" />
  <package id="YC.PrettyPrinter" version="0.0.5" targetFramework="net461" />
</packages>